# Pandas Cheat Sheet
Complete documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23/api.html)

## Create a DataFrame from a .csv File

In [0]:
### this will create a convenience csv to test the methods. This is not necessary ###
from random import randint
csv_text = "first_col,second_col,third_col\n"
for i in range(1000):
    csv_text += f"{randint(1, 10)},{randint(2, 5)},{randint(4, 17)}\n"
f = open("test.csv", "w")
f.write(csv_text)
f.close()
### End of convenience code ###

In [0]:
# imports at the top of the file always
import pandas as pd
import numpy as np

In [0]:
csv_path = "test.csv"   # the path to your csv
sep = ","               # the delimiter between columns in your csv, normally ',' or ';'

# load csv into Pandas Dataframe
df = pd.read_csv(csv_path, sep=sep)

## Visualize contents

In [5]:
df.head()  # prints top 5 rows

   first_col  second_col  third_col
0          5           3         10
1         10           4          4
2          7           4         10
3          1           2         16
4          2           3          5

In [6]:
df.tail()  # prints bottom 5 rows

     first_col  second_col  third_col
995          1           5         16
996          5           5          4
997          4           5         17
998          7           5          7
999         10           2         11

In [8]:
df.describe()  # computes mean, max, min, count and percentiles for each column

         first_col   second_col    third_col
count  1000.000000  1000.000000  1000.000000
mean      5.465000     3.438000    10.652000
std       2.954235     1.135538     4.043172
min       1.000000     2.000000     4.000000
25%       3.000000     2.000000     7.000000
50%       5.000000     3.000000    11.000000
75%       8.000000     4.000000    14.000000
max      10.000000     5.000000    17.000000

## Access data

### One Column

In [11]:
first_column = df["first_col"]  # gets the first column

# a column is not a DataFrame type, is a Series type. A DataFrame is made of one or more Series
print("Type of first column: ", type(first_column))
print("Type of DataFrame: ", type(df))

Type of first column:  <class 'pandas.core.series.Series'>
Type of DataFrame:  <class 'pandas.core.frame.DataFrame'>

In [12]:
first_column.head()  # there are methods that are shared between DataFrames and Series, like head()

0     5
1    10
2     7
3     1
4     2
Name: first_col, dtype: int64

### More than one column

In [13]:
# To access more than one column you have to put double square brackets [[]]
df[["first_col", "second_col"]].head()

   first_col  second_col
0          5           3
1         10           4
2          7           4
3          1           2
4          2           3

### Rows
If the DataFrame has an Index, you can use .loc[index] to get the row. Won't work with this csv.

But you can also access data through row number using .iloc[row]

In [14]:
print(df.iloc[3])

first_col      1
second_col     2
third_col     16
Name: 3, dtype: int64

In [0]:
# you can also loop through all rows of the df with this, although there are
# other better performance-wise methods
for i in range(len(df)):
    row = df.iloc[i]
    # do something with row

## Copy a DataFrame

In [0]:
import copy
# will create an exact copy of our dataframe. If we modify either one of these, the other one will not get affected
df_copy = copy.deepcopy(df)

## Create a column

In [21]:
# create
df_copy["new_col"] = df_copy["first_col"] + df_copy["second_col"]  # creates a with the sum of the numbers for each row in cols 1 and 2
df_copy[["first_col", "second_col", "new_col"]].head()

   first_col  second_col  new_col
0          5           3        8
1         10           4       14
2          7           4       11
3          1           2        3
4          2           3        5

## Create/modify a column using apply

### Using lambda

In [23]:
# we want to divide first_col/second_col
# pass axis=1 if you apply to a dataframe and want the rows, instead of just the index
df_copy["div_col"] = df_copy.apply(lambda row: row["first_col"]/row["second_col"], axis=1)
df_copy["div_col"].head()

0    1.666667
1    2.500000
2    1.750000
3    0.500000
4    0.666667
Name: div_col, dtype: float64

### Using a separate function

In [0]:
def divide_cols(row):
    if row["second_col"] == 0:  # checking for infinite result
        return np.NaN           # returns NaN
    else:
        div = row["first_col"] / row["second_col"]
        return div

In [31]:
df_copy["div_col"] = df_copy.apply(divide_cols, axis=1)
df_copy["div_col"].head()

0    1.666667
1    2.500000
2    1.750000
3    0.500000
4    0.666667
Name: div_col, dtype: float64