# Python CheatSheet

## Variables

### Immutable Variables

In [0]:
# basics
int_var = 3
float_var = 3.141592
str_var = "Hello world"  # double (") or simple quotes (')
boolean = True  # or False

# not so basics
tuple_var = (1, 2, 3, 3, 3)  # like a list but immutable

### Mutable variables

In [0]:
list_var = [1, 1, 2, 3, 5]  # can store any type and allows mixed types in the same list
set_var = {1, 2, 2, 3}  # like a list, but only stores unique values -> {1, 2, 3}
dictionary_var = {"hola": "hello", "mundo": "world", 2:"!"}  # pairs of Key:Value

#### List Important methods
(Complete method list [here](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists))

In [0]:
# add element to last position (IN PLACE)
list_var.append(4)  # [1, 1, 2, 3, 5, 4]

# add element at 'x' position
list_var.insert(0, "new element")  # ["new element", 1, 1, 2, 3, 5, 4]

# remove element from list (IN PLACE)
list_var.remove("new element")  # [1, 1, 2, 3, 5, 4]

# remove element and return it (by default pops the last item if no x is specified inside pop(x))
popped_el = list_var.pop()  # popped element will be '4', list_var = [1, 1, 2, 3, 5]

# reverse list (IN PLACE)
list_var.reverse()  # [5, 3, 2, 1, 1]

# get the index of the first element found inside of the list that matches the given parameter
list_var.index(1)

# sort list (IN PLACE). The list must have the same type (all string or all number)
list_var.sort()  # [1, 1, 2, 3, 5]

# count ocurrences of 'x' inside of the list
count_1 = list_var.count(1)  # counts the number of '1' and returns 2, as it found 2 occurrences

#### Dictionary Important methods
(Complete method list [here](https://docs.python.org/3/library/stdtypes.html#typesmapping))

In [0]:
test_dict = {}  # init empty dict

# add element to dict
test_dict["key"] = "value"
test_dict["another key"] = "this is a value"

# get the list of keys of a dict
keys_list = list(test_dict.keys())

# get the list of values of a dict
values_list = list(test_dict.values())

# get a list of tuples (key, value) from a dict
items_list = list(test_dict.items())
print("Items list: ", items_list)

Items list:  [('key', 'value'), ('another key', 'this is a value')]

## Conditionals

In [0]:
some_true_condition = True
if some_true_condition == True:  # if condition is True, it will print
    print("Hey this is True")

if not some_true_condition:  # the use of 'not': it checks for the condition to be False
    print("This won't be printed")

if 2 >= 5:  # another condition that won't be printed
    print("This won't be printed")

# if elif else structure
if 2 > 1 and 3 not in [1, 2, 6]:  # note the use of 'and'
    print("Both conditions are true so this gets printed")
elif 5 > 3:  # this is also true, but the first conditional is met so it won't print
    print("This won't be printed")
else:  # none of the other conditionals are met
    print("All the other conditionals are False")

Hey this is True
Both conditions are true so this gets printed

## Loops

### For loop

In [0]:
list_loop = [9, 8, 4]

for item in list_loop:  # loops through each item in the list
    print(item)

for i in range(5):  # range function creates a list of x items ascending [0, 1, 2, 3, 4]
    print("number:", i)

9
8
4
number: 0
number: 1
number: 2
number: 3
number: 4

### While loop

In [0]:
counter = 0

while counter < 5:
    # do something
    print(f"Doing something {counter + 1} times")
    counter += 1  # important to add 1 to counter, if not you will have a infinite loop

Doing something 1 times
Doing something 2 times
Doing something 3 times
Doing something 4 times
Doing something 5 times

## Functions

In [27]:
# define function first
def new_function(param1, param2):
    sum_params = param1 + param2
    return sum_params

# call function
value1 = new_function(1, 3)
value2 = new_function(100, 444)
print(value1, value2)

4 544